<div class="container-fluid p-0">
  <nav class="navbar bg-skyblue d-block w-100 nav-position" id="nav">
    <div class="container">
      <div class="row w-100">
        <div class="col-lg ml-2">
          <div class="row">
            <div class="col-lg pl-3 pr-0">
              <div class="nav-button">
                <a routerLink="/creator" style="white-space: nowrap;">
                  Create test
                </a>
              </div>
            </div>
            <div class="col-lg pl-3 pr-0">
              <div class="nav-button">
                <a routerLink="/tests">
                  Tests
                </a>
              </div>
            </div>
            <div class="col-lg pl-3 pr-0">
              <div class="nav-button">
                <a *ngIf="isLoggedIn" routerLink="/logout">
                  Logout
                </a>
                <a *ngIf="!isLoggedIn" routerLink="/login">
                  Login
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="mt-lg-5">

  <router-outlet></router-outlet>

  <footer class="footer p-3 mt-3">
    <div class="container">
      <div class="text-muted">
      </div>
    </div>
  </footer>
</div>
